<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @title ? @title + " : My Web Brain" : "My Web Brain" %></title>
  <meta name="description" content="">
  <meta name="author" content="">  
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!-- stylesheet_link_tag "application", :media => "all" -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>

</head>
<body id="<%= @page_id %>">
  <div id="main" class="container">
    <header class="span12">
    </header>

    <div id="content" class="span12">
      <%= yield %>
    </div>
  </div>


</body>
</html>
