<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">  

  <title><%= @title ? @title + " : My Web Brain" : "My Web Brain" %></title>
  <meta name="description" content="">
  <meta name="author" content="">  
  
  <%= stylesheet_link_tag "site", :media => "all" %>
  <!-- stylesheet_link_tag "application", :media => "all" -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>

</head>
<body id="<%= @page_id %>">

  <div id="main" class="container">



    <header class="span12">

      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">My Web Brain</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <ul class="nav pull-right">
            <li class="active"><a class="" href="#">Home</a></li>
            <li><a href="#">About</a></li>
          </ul>          
        </div>
      </div>

      <% if flash[:error] %>
        <div id="error" class="alert alert-error">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Oh snap!</strong> <%= flash[:error] %>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div id="notice" class="alert alert-success">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Good news!</strong> <%= flash[:notice] %>
        </div>
      <% end %>

      <div class="hero-unit">
        <h1>My Web Brain</h1>
        <p>Your Brain on the Internet</p>
      </div>      
    </header>

    <div id="content" class="span12">
      <%= yield %>
    </div>    
  </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
